
.App 
{
  font-family: Arial, sans-serif;
  text-align: center;
}
/*↓ーーー追加デザインーーー↓*/
.layout {display: flex;}
header 
{
  background-color: #09414c;
  color: white;
  padding: 20px;
  text-align: center;
}
aside 
{
  background-color: #f4f4f4;
  padding: 20px;
  width: 20%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
main 
{
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}
footer 
{
  background-color: #222;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*↑ーーー追加デザインーーー↑*/

.App-logo 
{
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) 
{
  .App-logo {animation: App-logo-spin infinite 20s linear;}
}

.App-header {
  background-color: #282c34;
  height: auto;  /* 高さを自動で調整 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {color: #61dafb;}
@keyframes App-logo-spin 
{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}